<h1>Add food to your shop</h1>
<div id="menu_items">

  <%= @menu_item.errors.full_messages.join(", ") %>
  <%= form_for [@user, @menu_item] do |food| %>
  <div>
    <%= food.label :food_name %>
    <%= food.text_field :food_name, class:"form-control" %>
  </div>
  <div>
    <%= food.label :price %>
    <%= food.text_field :price, class:"form-control" %>
  </div>
  <%= food.submit %>
  <% end %>
</div>
