<div class="container">
<%= form_for [@user, @menu_items], remote: true, authenticity_token: true do |menu| %>

<table class="table table-responsive" style="border: 0px;">
  <thead>
    <tr>
      <td>
        <h4 style="margin-top: 30px;">Add Menu Item</h4>
      </td>
    </tr>
  </thead>
  <tr>
    <td colspan="6" style="padding: 10px;">
      <div>
        <%= menu.text_field :food_name, placeholder: "Food name", class: "login-input-field login-input-form"%>
      </div>
    </td>
    <td colspan="6" style="padding: 10px;">
      <div>
        <%= menu.text_field :price, placeholder: "Price", class: "login-input-field login-input-form" %>
        <!-- <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="12" style="padding: 10px;">
      <div>
        <%= menu.text_area :description, placeholder: "Food description", class: "login-input-field login-input-form" %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="6" style="padding: 10px;">
      <div>
        <%= menu.file_field :image %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="6" style="padding: 10px;">
      <div style="margin-top: 25px;">
        <%= menu.submit class: "btn-primary buy-btn" %>
      </div>
    </td>
  </tr>
</table>
<% end %>
</div>
