<div class="container">
  <div class="user-margin-div">
    <h1>Sign up</h1>
      <%= @user.errors.full_messages.join(", ") %>
      <%= form_for @user do |f| %>
    <div>
      <%= f.text_field :first_name, placeholder: "First name", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :last_name, placeholder: "Last name", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.email_field :email, placeholder: "Email", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password",class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :apartment_number, placeholder: "Apartment number", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :street_number, placeholder: "Street number",class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :street, placeholder: "Street", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :city, placeholder: "City", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :state, placeholder: "State", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :country, placeholder: "Country", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :telephone, placeholder: "Telephone", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
    <hr />
    <p>
      Once you have a shop name, it will be available to show on the listing page.
    </p>
    <div>
      <%= f.text_field :shop_name, placeholder: "Shop name", class: "login-input-field login-input-form" %>
    </div>
    <div>
      <%= f.text_field :description, placeholder: "Description", class: "login-input-field login-input-form" %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
