<div class="container">
<h2><%= @user.shop_name %></h2>
<%= @user.full_address %>
<div>
<% @user.menu_items.each do |m| %>
<%= m.food_name %>
<br />
<%= m.price %>
<%= m.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
<%# m.submit "Buy", class: "btn btn-primary"  %>
<% end %>
<hr>
</div>

<div>
  <h3>Create Review</h3>
  <%= @review.errors.full_messages.join(", ") unless @review.nil? %>
  <%= form_for [@user, @review] do |f| %>
  <div>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Submit", class: "btn btn-primary btn-xs" %>
  </div>
  <% end %>
</div>
<div>
  <% @user.reviews.each do |review| %>
  <%= review.body %>
  <hr />
  <% end %>
</div>
</div>
