<div class="shop-image" style="margin-top: 5em;">
</div>
<div class="shop-info">
  <div class="container">
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar.url(:thumb), class: "img-thumbnail"  %>
    <% else %>
      <%= image_tag 'default', class: 'img-thumbnail'%>
    <% end %>
    <h3 style="display: inline-block; margin-top: 23px;"><%= @user.shop_name %></h3>
    <div class="inline">
      <span class="fa fa-map-marker icon-space"></span><%= @user.full_address %>
    </div>
    <div class="inline">
      <span class="fa fa-mobile fa-lg icon-space"></span><%= @user.telephone %>
    </div>
    <div class="inline">
      <span class="fa fa-envelope icon-space"></span><%= @user.email %>
    </div>
    <div class="inline">
      <span class="fa fa-star icon-space"></span>3/5
    </div>
    <div class="inline">
      <span class="fa fa-truck icon-space"></span>Deliver/Pick Up
    </div>
  </div>
</div>

<div class="container add-margin-bottom">
  <div class="row menu">
    <h3 align="center">Menu</h3>
    <% @user.menu_items.each do |m| %>
    <div class="col-sm-6">
      <div class="food-info-container">
        <%= image_tag m.image.url(:thumb), class: 'food-image' %>
        <div class="food-info">
          <h4 style="display: inline;"><%= m.food_name %></h4>
          <%#= link_to 'Add to cart', add_cart_path({id: m.id}), method: :patch, class: 'buy-btn inline-btn' %>
          <%= link_to 'Add to cart', user_path(@user), class: 'btn-primary buy-btn inline-btn' %>
          <p style="margin-top:10px;">$<%= m.price %><p>
          <p style="font-style: italic"><%= m.description %></p>
        </div>
      </div>
    </div>
      <% end %>
  </div>

  <div>
    <h3>Create Review</h3>
    <%= @review.errors.full_messages.join(", ") unless @review.nil? %>
    <%= form_for [@user, @review] do |f| %>
      <div>
        <%= f.text_field :body, placeholder: "Write a review", class: "login-input-form review-field" %>
        <%= f.submit "Post review", class: 'buy-btn review-btn'%>
      </div>
    <% end %>
  </div>
  <div class="review">
    <div>
      <%= image_tag @user.avatar, class: "img-thumbnail" %>
      <% @user.reviews.each do |review| %>
      <%= review.body %>
      <% if can? :like, review %>
      <% user_like = review.like_for current_user %>

      <% if user_like.present? %>
      <%= link_to "Un-Like", review_like_path(@user, review), method: :delete %>
      <% else %>
      <%= link_to "Like", user_review_likes_path(@user, :review, review ), method: :post %>
      <% end %>
      <hr />
      <% end %>
      <% end %>

    </div>
  </div>
</div>
