<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700" rel="stylesheet">
  </head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="nav-wrapper">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "neighborfood-logo.png", class: "logo" %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav nav-pills">
          <li><%= link_to "Home Cooks", users_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", new_contact_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to fa_icon('shopping-cart lg'), root_path %></li>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="user_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
                <%= current_user.first_name %>
              <% else %>
                Sign in
              <% end %>
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" aria-labelledby="user_drop_down">
              <% if user_signed_in? %>
                <li><%= link_to "Account", edit_user_path(current_user)%></li>
                <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Sign in", new_session_path %></li>

              <% end %>
            </ul>
          </li>
          <li class="food-search">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-search" aria-hidden="true" id="search"></span>
              </a>

          </li>
          <!-- <li class="fa fa-search" aria-hidden="true"></li> -->
        </ul>
      </div>
    </div>
  </nav>

  <form id="search-wrapper" action="/users" method="get">
      <input type="text" name="q[menu_items_food_name_cont]" class="form-control" name="search" placeholder="Search for food" id="search-bar">

      <button type="submit" class="btn btn-default" style="display: none">Submit</button>
  </form>


<div class="flash-message">
  <%= flash[:notice] || flash[:alert] %>
</div>

<div class="footer">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding: 25px 0px;"><%= image_tag "../assets/neighborfood-logo.png", class: "logo"%></a>
          </div>
            <div id="copyright">
              <p>© 2016 neighborFood</p>
              <!-- <ul class="nav navbar-nav navbar-right">
                <li style="color: #fff; margin: 25px 15px;">© 2016 Awesome Answers</li>
              </ul>-->
            </div>

        </div>
        </div>
      </div>

  <body>
    <%= yield %>
  </body>
</html>
